.delivery {
  margin: 55px auto;
}

.delivery__headers {
  text-transform: uppercase;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 0 20px 5px;
  border: 1px solid #eaeaea;
  margin: 5px 0;
}

.delivery__headers:focus {
  outline: none;
}

.delivery__headers:hover {
  cursor: pointer;
  background-color: #f4f2f2;
}

.delivery .shipping__address__form, .delivery .shipping__address__final {
  margin-top: 10px;
  padding-left: 20px;
}

.delivery .shipping__address__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delivery .shipping__address__form__name, .delivery .shipping__address__form__surname, .delivery .shipping__address__form__city, .delivery .shipping__address__form__postcode, .delivery .shipping__address__form select {
  max-width: 35%;
  color: #222222;
  padding: 8px 10px;
  outline: none;
  border: 1px solid #222222;
  font-family: 'Lato-Regular';
  font-size: 17px;
  margin-bottom: 20px;
}

.delivery .shipping__address__form select {
  max-width: 37%;
}

.delivery .shipping__address__form ul {
  color: red;
}

.delivery .shipping__address__form ul li {
  color: red;
}

.delivery .shipping__address__form .option__1,
.delivery .shipping__address__form .option__2,
.delivery .shipping__address__form .option__3,
.delivery .shipping__address__form .option__4,
.delivery .shipping__address__form .option__5,
.delivery .shipping__address__form .option__6,
.delivery .shipping__address__form .option__7,
.delivery .shipping__address__form .option__8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.delivery .shipping__address__form label {
  margin-left: 15px;
}

.delivery .shipping__address__form .wrong__city, .delivery .shipping__address__form .wrong__post__code {
  margin-top: 9px;
  margin-bottom: 9px;
  font-size: 15px;
  color: red;
  display: none;
}

.delivery .shipping__address__final {
  position: relative;
}

.delivery .shipping__address__final_info {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery .shipping__address__final_info span {
  font-weight: 700;
  padding: 0 5px;
}

.delivery .shipping__address__final_info .recipient__name, .delivery .shipping__address__final_info .recipient__surname {
  padding: 0;
}

.delivery .shipping__address__final_info .delivery__address {
  padding: 0;
}

.delivery .shipping__address__final .send__to__processing {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.38px;
  -webkit-transition: color 0.8s, -webkit-box-shadow 0.5s;
  transition: color 0.8s, -webkit-box-shadow 0.5s;
  transition: color 0.8s, box-shadow 0.5s;
  transition: color 0.8s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  border: none;
  outline: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.delivery .shipping__address__final .send__to__processing:hover {
  color: #222222;
  -webkit-box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
/*# sourceMappingURL=checkout.css.map */