.single__product {
  width: 600px;
  margin: 0 auto;
  margin-top: 25px;
}

.single__product__wear {
  display: table;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.single__product__wear .slidewrapper {
  position: relative;
  width: calc(100% * 6);
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.single__product__wear .slidewrapper ul, .single__product__wear .slidewrapper li {
  margin: 0;
  padding: 0;
}

.single__product__wear .slidewrapper li {
  width: calc(100% / 6);
  list-style: none;
  display: inline;
  float: left;
}

.single__product__wear .slidewrapper li .slide__img {
  width: 600px;
  height: 700px;
  display: inherit;
  margin: 0 auto;
}

.single__product__wear .navigation__prev, .single__product__wear .navigation__next {
  position: absolute;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  background-color: #D8D8D8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

.single__product__wear .navigation__prev:hover, .single__product__wear .navigation__next:hover {
  background-color: #f16d7f;
  cursor: pointer;
}

.single__product__wear .navigation__prev {
  left: 10px;
}

.single__product__wear .navigation__next {
  right: 10px;
}

.clothing__features {
  background-color: #fff;
  top: -60px;
  border: 1px solid #EAEAEA;
  position: relative;
}

.clothing__features__info {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clothing__features__info .unique__info {
  max-width: 641px;
}

.clothing__features__info .unique__info__h4, .clothing__features__info .unique__info__lines, .clothing__features__info .unique__info__h3, .clothing__features__info .unique__info .info__about__clothes, .clothing__features__info .unique__info p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clothing__features__info .unique__info__h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #f16d7f;
  font-weight: 700;
  line-height: 24px;
  padding-top: 73px;
}

.clothing__features__info .unique__info__lines {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9px;
}

.clothing__features__info .unique__info__lines .line__1, .clothing__features__info .unique__info__lines .line__2, .clothing__features__info .unique__info__lines .line__3 {
  width: 41px;
  height: 1px;
  background-color: #EAEAEA;
}

.clothing__features__info .unique__info__lines .line__2 {
  background-color: #f16d7f;
  height: 3px;
}

.clothing__features__info .unique__info__h3 {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 59px;
}

.clothing__features__info .unique__info p {
  color: #5E5E5E;
  font-size: 14px;
}

.clothing__features__info .unique__info .info__about__clothes {
  padding-top: 23px;
}

.clothing__features__info .unique__info .info__about__clothes .material {
  color: #B9B9B9;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.clothing__features__info .unique__info .info__about__clothes .material span {
  color: #2F2F2F;
}

.clothing__features__info .unique__info .info__about__clothes .material_1 {
  padding-right: 44px;
}

.clothing__features__info .unique__info .price {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #EF5B70;
  font-size: 24px;
  font-weight: 700;
  padding-top: 31px;
  padding-bottom: 41px;
}

.clothing__features .form__to__cart {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clothing__features .form__to__cart .features {
  width: 641px;
  border-top: 1px solid #EAEAEA;
}

.clothing__features .form__to__cart .features__filter {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.clothing__features .form__to__cart .features__filter h3 {
  padding-top: 60px;
  padding-bottom: 16px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.clothing__features .form__to__cart .features__filter select, .clothing__features .form__to__cart .features__filter input {
  outline: none;
  width: 170px;
  height: 35px;
  color: #4A464D;
  padding-left: 9px;
  padding-right: 9px;
  border: 1px solid #EAEAEA;
}

.clothing__features .form__to__cart .features__filter select:hover, .clothing__features .form__to__cart .features__filter input:hover {
  border: 1px solid #9399a3;
}

.clothing__features .form__to__cart .features__filter input {
  width: 124px;
  height: 33px;
}

.clothing__features .form__to__cart .features .add__to__cart {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 28px;
  margin-bottom: 122px;
}

.clothing__features .form__to__cart .features .add__to__cart__span {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: #f16d7f;
  color: #ffffff;
  width: 570px;
  height: 55px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.38px;
  -webkit-transition: color 0.8s, -webkit-box-shadow 0.5s;
  transition: color 0.8s, -webkit-box-shadow 0.5s;
  transition: color 0.8s, box-shadow 0.5s;
  transition: color 0.8s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.clothing__features .form__to__cart .features .add__to__cart__span:hover {
  cursor: pointer;
  color: #222222;
  -webkit-box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16);
}

.clothing__features .form__to__cart .features .add__to__cart img {
  padding-right: 12px;
  width: 38px;
  height: 24px;
}

.feedback {
  min-height: 438px;
  background-color: #f7f7f8;
  margin-bottom: 123px;
}

.feedback__img {
  background-repeat: no-repeat;
  background-image: url(../img/Rectangle_9_copy.png), url(../img/nature.png);
  width: 1618px;
  min-height: 100%;
  margin: 0 auto;
}

.feedback__img .text__for__feedback__form {
  line-height: 35px;
  letter-spacing: 0.6px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #545454;
}

.feedback__img .feedback__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__img .feedback__form__name, .feedback__img .feedback__form__surname, .feedback__img .feedback__form__review__content {
  color: #222222;
  background-color: #e9e9e9;
  padding: 8px 10px;
  outline: none;
  border: 1px solid #222222;
  font-family: 'Lato-Regular';
  font-size: 17px;
  margin: 0 auto 15px auto;
  border: 1px solid #b5b0b0;
  width: 50%;
}

.feedback__img .feedback__form .feedback__form__review {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__img .feedback__form .feedback__form__review .review__and__stars i {
  color: #949494;
}

.feedback__img .feedback__form .feedback__form__review .review__and__stars .orange {
  color: #f89d13;
}

.feedback__img .feedback__form .feedback__form__review .review__and__stars__text {
  margin-left: 275px;
  margin-right: 40px;
  padding-bottom: 10px;
  color: #545454;
}

.feedback__img .feedback__form .warningText, .feedback__img .feedback__form .warningFirstName, .feedback__img .feedback__form .warningLastName {
  margin: 9px 0 9px 274px;
  font-size: 15px;
  color: red;
  display: none;
}

.feedback__img .feedback__form .submit__button {
  background-color: #acacac;
  color: #FFF;
  font-size: 16px;
  font-family: 'Lato-Regular';
  -webkit-transition: color 0.8s, -webkit-box-shadow 0.5s;
  transition: color 0.8s, -webkit-box-shadow 0.5s;
  transition: color 0.8s, box-shadow 0.5s;
  transition: color 0.8s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  margin-left: 726px;
  width: 140px;
  height: 35px;
  letter-spacing: 2.5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__img .feedback__form .submit__button:hover {
  color: black;
  background-color: #989898;
  cursor: pointer;
}

.feedback__img .feedback__form .submit__button::-moz-selection {
  color: black;
}

.feedback__img .feedback__form .submit__button::selection {
  color: black;
}

.similar__product__h3 {
  padding-bottom: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.similar__product__box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 34px;
}

.activeElement {
  color: #565656;
}
/*# sourceMappingURL=singlePage.css.map */