$accent-color: #f16d7f
$color-text: #222222

.categories
    margin-top: 60px
    .order__details, .order__data
        text-transform: uppercase
        color: $color-text
        font-family: Lato
        text-align: center
    .order__details
        font-size: 25px
        font-weight: 700
        line-height: 25px
        margin-bottom: 40px
    .order__data
        border-bottom: 1px solid #eaeaea
        padding-bottom: 8px;
        & p
            display: flex
            justify-content: center
            align-items: center
            font-size: 17px
            font-weight: 500
            line-height: 20px
            width: 163px

.order
    align-items: center
    border-bottom: 1px solid #eaeaea
    .order__card
        justify-content: space-between
        padding: 20px 0px
        .name__surname
            width: 163px
            flex-wrap: wrap
        & p
            width: 163px
            display: flex
            justify-content: center
            align-items: center
            font-size: 18px
            font-weight: 500
            line-height: 20px
        .order__status
            width: 163px
            & input
                margin-right: 5px
            .status_1, .status_2, .status_3, .status_4
                margin-left: 20px